<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Название: <input type="text" name="name" required></label>
    <br><br>
    <label>Описание: <input type="text" name="description" required></label>
    <br><br> <label>Цена: <input type="number" name="price" required> </label>
    <br> <br><label>Отдел:
    <select name="department">
        {% for department in departments %}
            <br>
            <option value="{{ department.id }}">
                {{ department.sphere }} из {{ department.shop.name }}
            </option>
        {% endfor %}
    </select></label>
    <br><br>
    <label>Изображение:
        <input type="file" name="image" accept="image/*"></label>
    <br> <br>
    <button type="submit">Сохранить</button>

</form>
</body>
</html>