{% load static  %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ shops.name }}</title>
</head>
<body>
<h4>{{ shops.name }}</h4>
    {% for dep in shops.departments.all %}
    <h5>{{ dep.sphere }}</h5>
        <table border="1">
    <tr>
        <td>Название</td>
        <td>Описание</td>
        <td>Цена</td>
    </tr>
        {% for item in dep.items.all %}
            <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.price }}</td>

    </tr>
    {% endfor %}
    </table>
    {% endfor %}
    <br>
 <a href ='{% url 'add_dep' shops.id %}'>  <img width="200" src="{% static 'add_blue.png' %}">
    </a>
</body>
</html>